# Mac
.DS_Store

# Maven
target

# Eclipse
.metadata
.checkstyle
.classpath
.pmd
.project
.ruleset
.settings
.pydevproject
bin
test-output
*.log
*.log.[0-9]*

# IntelliJ IDEA
*.i??
.idea
!*.ico

# Vscode
.vscode


# Node, npm, bower
node_modules
bower_components
npm-v?.?.?
package-lock.json

# Jest
coverage/

# Vi
*.swp

# CMF settings.json
dist/
.cache-loader/

